{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso Negado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/tulipicon.png' %}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Você não tem permissão para acessar esta página.</h1>
        <a href="/" class="btn btn-primary mt-3">Voltar para a página inicial</a>
    </div>
</body>
</html>
